.insta-grid {
  display: block;
}

  .insta-grid > * {
    display: inline-block;
    background: #c9c7c7;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.26);
    width: 80px;
    height: 80px;
    padding: 0;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
  }